Source: youtube-cli
Section: web
Priority: extra
Maintainer: Javier P.L. <chilicuil@ubuntu.com>
Uploaders: Dominik George <nik@naturalnet.de>
Build-Depends:
 debhelper (>= 9),
 python-setuptools
Build-Depends-Indep:
 python
X-Python-Version: >= 2.6
Standards-Version: 3.9.4
Homepage: https://github.com/rjw57/yt
Vcs-Git: git://github.com/chilicuil/yt-deb.git
Vcs-Browser: https://github.com/chilicuil/yt-deb.git

Package: youtube-cli
Architecture: all
Depends: ${misc:Depends}, ${python:Depends}, python-pkg-resources, mplayer2 | mplayer, youtube-dl
Description: command-line YouTube client
 yt is a command-line front-end to YouTube which allows you to browse YouTube
 videos and play them directly from the command-line. It uses youtube-dl and
 mplayer or omxplayer to actually play the videos.
