#!/usr/bin/make -f
%:
	dh $@ --with python2 --buildsystem=python_distutils

override_dh_install:
	dh_install

override_dh_installdocs:
	dh_installdocs

override_dh_clean:
	dh_clean
	rm -rf yt.egg-info
